@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cabin', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0   auto;
}

img{
    max-width: 100%;
    height: auto;
}
/* style cho header */
.header{
    padding: 30px 0px;
}

.header .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container  .header__logo{
    font-size: 30px;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    font-weight: 100;
}

.header .header__container  .header__logo::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -15px;
    left: -15px;
    border: 3px solid #ea3a60;
    z-index: -1;
    border-radius: 7px;
}

.header .header__container  .header__logo   .red{
    color: #ea3a60;
    font-weight: 700;
}



.header .header__container  .header__item{
    display: flex;
}

.header .header__container  .header__item ul{
    display: flex;
    align-items: center;
}

.header .header__container  .header__item ul li{
    list-style: none;
    padding: 0 20px;
}

.header .header__container .header__item{
    align-items: center;
}

.header .header__container .header__item ul li{
    padding: 0 15px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(0 0 0 / 50%);
}

.header .header__container .header__item ul li:hover{
    color: rgb(0 0 0 / 90%);
}

.header .header__container .header__item .header__icon{
    margin: 0 15px 0 0;
}

.header .header__container .header__item .header__icon i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(234 58 96 / 20%);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.header .header__container .header__item .header__icon i:hover{
    background-color: #ea3a60;
}

.header .header__container .header__item .header__text{
    color: #777;
    font-size: 14px;
    font-weight: 600;
}

.header .header__container .header__item .header__text p{
    margin: 0;
    font-size: 20px;
    color: #2d2d43;
}
/* style cho header */
/* style cho banner */
.banner{
    padding: 48px   0;
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/28-03-2020/interiorfloor-liberty-demo_Free/1147492347/web/assets/images/slide2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cove;
    position: relative;
    z-index: 0;
}

.banner::after{
    content: "";
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner .banner__container  .banner__content    h2{
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding: 48px 25px;
}
/* style cho banner */
/* style cho menu */
.menu .menu__container ul{
    list-style: none;
    display:flex;
    padding: 20px   0;
    justify-content: center;
}

.menu .menu__container ul li{
    margin: 0   10px;
}
/* style cho menu */
/* style cho secret */
.secret{
    padding: 48px   0;
}

.secret .secret__container{
    display: flex;
}

.secret .secret__container  .secret__item{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding: 0  15px;
}

.secret .secret__container .secret__icon{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.secret .secret__container  .secret__item h4{
    font-size: 24px;
    margin-bottom: 15px;
}

.secret .secret__container  .secret__item   .secret__all{
    display: flex
    align-items: center;
}

.secret .secret__container  .secret__item   .secret__all p{
    background-color: #ea3a60;
    color: #fff;
    border-radius: 10px;
    padding: 2px 15px;
    font-size: 12px;
    display: inline;
    text-transform: uppercase;
}

.secret .secret__container  .secret__item   .secret__all a{
    text-decoration: none;
    color: #888;
    font-size: 18px;
    padding: 0 20px;
}

.secret .secret__container  .secret__item   img{
    margin-top: 20px;
    border-radius: 7px;
    display: block;
}

.secret .secret__container  .secret__item p{
    margin: 16px   0;
    color: #888;
    line-height: 30px;
}

.secret .secret__container  .secret__item   h5{
    font-size: 22px;
    padding: 30px;
    margin: 50px    0;
    font-style: italic;
    background-color: #f8f9fa;
    border-left: 2px solid #888;
}

.secret .secret__container  .secret__item .secret__social ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.secret .secret__container  .secret__item .secret__social ul li{
    margin-right: 20px;
    font-size: 18px;
    background-color: #e1e1e1;
    color: #888;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}
.secret .secret__container  .secret__item .secret__social ul li:hover{
    background-color: #2d2d43;
    color: #fff;
}

.secret .secret__container  .secret__item .secret__social ul p{
    margin: 0;
    margin-right: 30px;
    color: #2d2d43;
    font-size: 18px;
    
}

.secret .secret__container  .secret__item   .secret__post i{
    margin-right: 10px;
    margin: 20px    0px;
}

.secret .secret__container  .secret__item   .secret__post{
    margin-top: 40px;
    border-top: 1px solid #ececf0;
    border-bottom: 1px solid #ececf0;
}

.secret .secret__container  .secret__item   .secret__comment{
    margin: 60px    0;
}

.secret .secret__container  .secret__item   .secret__comment    h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.secret .secret__container  .secret__item   .secret__comment .secret__image .secret__reply{
    display: flex;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 7px
}


.secret .secret__container  .secret__item   .secret__comment .secret__image .secret__reply .secret__img{
    flex: 0 0 15%;
    max-width: 15%;
}


.secret .secret__container  .secret__item   .secret__comment .secret__image .secret__reply .secret__img img{
    margin: 0;
}

.secret .secret__container  .secret__item   .secret__comment .secret__image .secret__reply .secret__text{
    padding-left: 30px;
}

.secret .secret__container  .secret__item   .secret__comment .secret__image .secret__reply .secret__text h4{
    font-size: 20px;
}

.secret .secret__container  .secret__item   .secret__comment .secret__image .secret__reply .secret__text ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
}

.secret .secret__container  .secret__item   .secret__comment .secret__image .secret__reply .secret__text ul li:last-child{
    color: #ea3a60;
}

.secret .secret__container  .secret__item   .secret__comment .secret__image{
    margin-top: 30px;
    background-color:  #f9f9f9;
}


.secret .secret__container  .secret__item  h3{
    font-size: 28px;
    margin-bottom: 30px;
}

.secret .secret__container  .secret__item .secret__form .secret__namer p{
    padding: 13px 15px;
    margin: 0  0 20px 0;
    border: 1px solid #ddd;
    border-radius:7px;
    color: #495057;
}

.secret .secret__container  .secret__item .secret__form .secret__button{
    text-align: right;
}

.secret .secret__container  .secret__item .secret__form .secret__button button{
    padding: 12px 30px;
    background-color: #ea3a60;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
/* style cho secret */
/* style cho icon */
.secret .secret__container .secret__icon{
    padding: 0 15px;
    
}

.secret .secret__container .secret__icon .secret__icons{
    display: block;
}


.secret .secret__container .secret__icon .secret__icons .secret__search{
    position: relative;
    display: block;
}

.secret .secret__container .secret__icon .secret__icons .secret__search input{
    width: 100%;
    position: relative;
    padding: 10px;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid #ececf0;
    margin-bottom: 50px;
    display: inline-block;
}

.secret .secret__container .secret__icon .secret__icons .secret__search label i{
    position: absolute;
    border-left: 1px solid #ececf0;
    top: 50%;
    
}

.secret .secret__container .secret__icon .secret__icons .secret__categories{
    margin-bottom: 40px;
}

.secret .secret__container .secret__icon .secret__icons .secret__categories h4{
    font-size: 24px;
    margin-bottom: 30px;
}

.secret .secret__container .secret__icon .secret__icons .secret__categories ul li{
    padding: 15px;
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.secret .secret__container .secret__icon .secret__icons .secret__categories ul li:hover{
    color: #ea3a60;
}

.secret .secret__container .secret__icon .secret__icons .secret__categories ul li i{
    position: absolute;
    left: 0;
    color: #ea3a60;
}

.secret .secret__container .secret__icon .secret__icons .secret__categories ul li span{
    position: absolute;
    right: 0;
    background-color: #eeeeee;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}

.secret .secret__container .secret__icon .secret__icons .secret__posts h4{
    font-size: 24px;
    margin-bottom: 30px;
}

.secret .secret__container .secret__icon .secret__icons .secret__posts .secret__trend{
    display: flex;
    position: relative;
    padding-left: 90px;
    min-height: 100px;
    border-bottom: 1px solid #e2e2e7;
    margin-bottom: 25px;
}

.secret .secret__container .secret__icon .secret__icons .secret__posts .secret__trend .secret__imgs{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 75px;
}

.secret .secret__container .secret__icon .secret__icons .secret__posts .secret__trend .secret__imgs img{
    border-radius: 7px;
}

.secret .secret__container .secret__icon .secret__icons .secret__posts .secret__texts a{
    text-decoration: none;
    color: #2d2d43;
    font-size: 18px;
    font-weight: 600;
}

.secret .secret__container .secret__icon .secret__icons .secret__posts .secret__texts a:hover{
    color: #ea3a60;
    
    transition: all 0.5s;
}

.secret .secret__container .secret__icon .secret__icons .secret__posts .secret__texts p{
    font-size: 15px;
    color: #777a91;
    margin-top: 8px;
}

.secret .secret__container .secret__icon .secret__icons .secret__archives{
    margin-bottom: 50px;
}

.secret .secret__container .secret__icon .secret__icons .secret__archives h4{
    font-size: 24px;
    margin-bottom: 30px;
}

.secret .secret__container .secret__icon .secret__icons .secret__archives ul li{
    display: flex;
    position: relative;
    padding: 15px;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #e2e2e7;

}

.secret .secret__container .secret__icon .secret__icons .secret__archives ul li:hover{
    color: #ea3a60;
    
}

.secret .secret__container .secret__icon .secret__icons .secret__archives i{
    position: absolute;
    left: 0;
    color: #ea3a60;
}

.secret .secret__container .secret__icon .secret__icons .secret__archives span{
    position: absolute;
    right: 0;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    background-color: #eeeeee;
}

.secret .secret__container .secret__icon .secret__icons .secret__tags h4{
    font-size: 24px;
    margin-bottom: 30px;
}

.secret .secret__container .secret__icon .secret__icons .secret__tags a{
    font-size: 18px;
    color: #888;
    text-decoration: none;
    padding: 7px 24px 7px;
    border: 1px solid #e2e2e7;
    border-radius: 7px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
}

/* style cho icon */


